main {
  margin: 0 auto;
  max-width: 800px;
}
.carousel-item1,
.carousel-item2 {
  height: auto;
}
.dots0,
.dots1 {
  display: none;
}
/* Thumbnail under carousel */
.rail {
  display: contents;
}
.rail:after {
  content: "";
  display: table;
  clear: both;
}
/* Image uses 100% of its container */
.thumbnail0 img,
.thumbnail1 img {
  width: 100%;
}
/* Six columns side by side */
.thumbnail0 {
  float: left;
  width: 14.2%;
}
.thumbnail1 {
  float: left;
  width: 7.69%;
}
/* Add a transparency effect for thumnbail images */
.demo0,
.demo1 {
  opacity: 0.6;
}
.active,
.demo0:hover,
.demo1:hover {
  opacity: 1;
}
.footer {
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.9rem;
}
.navbar-links:hover {
  width: 100%;
  align-items: center;
  text-align: center;
}
.navbar-links:hover i {
  align-self: flex-end;
}
.main-imgContainer {
  object-position: bottom;
}
.main-text {
  padding: 1.6rem;
}
.graphiDesign-list {
  display: flex;
  justify-content: space-between;
}
