/*
Agregando estilos:
1. Posicionamiento --> static, absolute, relative, fixed.
2. Modelo de caja (Box model) --> margin, border, padding, content.
3. Tipografía --> tipos, tamaños de fuente, etc.
4. Estilos visuales --> box-shadow, border-radius, gradient, etc.
5. Otros --> reglas CSS y más.
*/
:root {
  --font-cormorant: "Cormorant", serif;
  --text: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --vulcan: #131521;
  --portage: #859fff;
  --free-blue: #435ab5;
  --cerulan: #00aed0;
  --white: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: var(--font-cormorant);
  min-width: 320px;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
}
.center {
  display: flex;
  align-items: center;
}

/* === Header === */
.header {
  padding: 1rem;
  /* top: 0; */
  height: 5rem;
  width: 100vw;
  justify-content: center;
  font-size: 1.6rem;
  color: var(--text);
  background-color: var(--free-blue);
}
.header a {
  text-decoration: none;
  color: var(--text);
}
.navbar {
  width: 80vw;
  justify-content: flex-end;
  height: 10vh;
}
.navbar .navbar-links {
  list-style: none;
  text-decoration: none;
}
.navbar i {
  padding-left: 1rem;
  font-size: 2rem;
  color: var(--text);
}
.navbar-links {
  align-items: center;
  text-align: right;
  transition: 350ms all;
  padding-right: 1.2rem;
}

.navbar-links:hover,
.navbar-links:active {
  margin: 2rem 0 0 1rem;
  align-self: flex-start;
  background-color: var(--cerulan);
  border: none;
  border-radius: 8px;
  color: #03091e;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0.5rem 1.2rem;
  font-size: 1.6rem;
  z-index: 1;
}
.navbar-links:hover i {
  display: none;
}

.navbar-linksButton {
  align-items: center;
  display: flex;
}

.navbar-links ul {
  display: none;
  list-style: none;
}

.navbar-links:hover ul,
ul:hover {
  display: block;
}

.navbar-links li {
  margin: 1rem 0 1.5rem 0;
}

.navbar-links li a {
  color: var(--text);
  text-decoration: none;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

/* === Main === */
#main {
  height: auto;
}
.main-imgContainer {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background: url("https://i.postimg.cc/63nR6yjz/main-photo.jpg") center/cover
    no-repeat;
  opacity: 0.9;
}
.main-imgContainer h1 {
  padding-top: 60px;
  font-size: 4.1rem;
  font-weight: 700;
  color: var(--free-blue);
  text-align: center;
}
.carousel1,
.carousel2 {
  width: 100%;
  padding: 1rem;
  /* position: relative; */
}
h2 {
  font-size: 3.2rem;
  color: var(--free-blue);
}
.carousel-item1,
.carousel-item2 {
  border-radius: 1rem;
  cursor: pointer;
  height: 30vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  transition: 450ms all;
  transform-origin: center left;
}
.carousel-item__img {
  width: 100%;
  /* height: 100%; */
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}
.carousel-item__details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 40%
  );
  color: var(--text);
  font-size: 1.6rem;
  font-weight: 700;
  /* opacity: 0; */
  transition: 450ms opacity;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* flex-direction: column; */
}
.carousel-item__details img {
  height: 3.5rem;
}
/* carousel container */
.carousel__container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.carousel-item1,
.carousel-item2 {
  display: none;
}
/* Previous & Next buttons */
/* .fa-angle-left,
.fa-angle-right  */
.prev0,
.prev1,
.next0,
.next1 {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.2rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
  user-select: none;
  color: var(--text);
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.6s ease;
}
/* Position the "next button" to the right */
/* .fa-angle-right */
.next0,
.next1 {
  right: 0;
  border-radius: 1rem 0 0 1rem;
  /* border-radius: 0.3rem 0; */
}
/* The dots/bullets/indicators */
/* .fa-circle  */
.dots0,
.dots1 {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 0.5rem;
  color: var(--portage);
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dots0:hover,
.dots1:hover {
  color: var(--free-blue);
}
/* Fading animation for images in carousel1*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.rail {
  display: none;
}

/* === Footer === */
footer {
  /* position: absolute;
  bottom: 0; */
  justify-content: space-evenly;
  color: var(--free-blue);
}

footer .social {
  width: 8rem;
  justify-content: space-evenly;
}
